{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'images/fav.png' %}" rel="icon" type="image/png">
    <title> {% block title %} Home {% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Scripts -->
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
    <!-- Links -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <!-- Header-->
    <div class="bg-white py-4 shadow dark:bg-gray-800">
        <div class="max-w-6xl mx-auto">
        <div class="flex items-center lg:justify-between justify-around">
            <a href="/">
            <b><h1 style="font-size: 1.5rem">To Do List</h1></b>
            </a>
            <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
            <a
                href="/"
                class="blue-500 px-6 py-3 
                text-base
                shadow
                font-medium
                text-white
                bg-blue-500 bg-opacity-90
                rounded-lg
                hover:bg-opacity-100 hover:text-dark
                signUpBtn
                duration-300
                ease-in-out
                focus:ring focus:ring-blue-500"
                data-ripple-light="true"
                >Go Home</a>
            </div>
        </div>
        </div>
    </div>


    <!-- content -->
    <body class="bg-gray-100">
      <div class="container m-auto my-6 max-w-6xl">

      <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
      <!-- Profile section: Left -->
        <div class="space-y-5 flex-shrink-0 lg:w-5/12" >
          <div class="h-60 flex items-center justify-center m-auto">
            <figure class="">
              <img class="h-60 w-60 rounded-3xl" src="{{user_profile.profileimg.url}}"/>
              <!-- <form class="">
                <i class="fa fa-camera-retro"></i>
                <label class="">
                  <a href="/settings">Upload Profile Photo</a>
                </label>
              </form> -->
            </figure>
          </div>
        </div>

          <!-- Profile section: Right -->
          <div class="lg:w-7/12 h-60 ">
            <div class="">
              <div>
                <h5 class="text-4xl ml-2">
                  <b>@{{user_profile.user.username}}</b>
                </h5>
              </div>
          <!-- Bio section -->
            <div class="text-2xl mt-5 ml-2 h-24 overflow-hidden">{{user_profile.bio}}</div>
          </div>

        <!-- Count section -->
        <div class="mt-8">
          <form action="/follow" method="POST" class="text-2xl">
            {% csrf_token %}
            <div class=" h-10 flex items-center justify-start">
              {% if user_post_length == 0 %}
              <span class="mx-2"><b> No Post</b></span>
              {% elif user_post_length == 1 %}
              <span class="mx-2"><b>{{user_post_length}} Post</b></span>
              {% else %}
              <span class="mx-2"><b>{{user_post_length}} Posts</b></span>
              {% endif %} {% if user_followers == 0 or user_followers == 1 %}
              <span class="mx-2"><b>{{user_followers}} follower</b></span>
              {% else %}
              <span class="mx-2"><b>{{user_followers}} followers</b></span>
              {% endif %}
              <span class="mx-2"><b>{{user_following}} following</b></span>

              <input type="hidden" value="{{user.username}}" name="follower" class="mx-2" />
              <input type="hidden" value="{{user_object.username}}" name="user" class="mx-2" />
              {% if user_object.username == user.username %}
              <a href="/settings" data-ripple=""  class="blue-500 px-4 py-2 
                                    text-base
                                    shadow
                                    font-medium
                                    text-white
                                    bg-blue-500 bg-opacity-90
                                    rounded-lg
                                    hover:bg-opacity-100 hover:text-dark
                                    duration-300
                                    ease-in-out
                                    focus:ring 
                                    focus:ring-blue-500 mx-2"> Account Settings </a>
              {% else %}
              <a data-ripple=""  class="blue-500 px-4 py-2 
                                    text-base
                                    shadow
                                    font-medium
                                    text-white
                                    bg-blue-500 bg-opacity-90
                                    rounded-lg
                                    hover:bg-opacity-100 hover:text-dark
                                    duration-300
                                    ease-in-out
                                    focus:ring 
                                    focus:ring-blue-500
                                    mx-2">
                <button type="submit"> {{button_text}} </button>
              </a>
              {% endif %}
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

    <!-- Post Section -->
    <section class="container m-auto my-6 max-w-6xl">
        <div class="bg-white rounded-md lg:shadow-lg shadow mt-12">
          <ul class="grid grid-cols-4">
            {% for post in user_posts reversed %}
            <li class="">
              <a class="m-5 flex items-center" href="{{post.image.url}}" title="">
                <img src="{{post.image.url}}" alt=""
                class="h-56 w-56"/>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </section>
  </div>
  
  </body>

<!-- Footer -->
    <div class="lg:mb-5 py-3 uk-link-reset">
        <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
        <div class="flex space-x-2 text-gray-700 uppercase">
            <a href="/about">About</a>
        </div>
        <p class="capitalize">© copyright 2022 by Team TODO</p>
        </div>
        </div>
    </div>

</html>
